# Basic Python for Geoscience
Note book ini adalah panduan untuk mempelajari Python secara umum.
- MODUL 1: Pengenalan Variabel, operasi sederhana, dan tipe data
- MODUL 2: Pengenalan ***List***, ***Tuple***, ***Set***, ***Dictionary*** dan ***Array***



Disusun oleh: 
- ``Epo Prasetya Kusumah, MSc - SedStrat / Teknik Geologi Universitas Pertamina``
- ``Yusuf Arico Pratama,S.T.``

Sumber Materi:
- ``Epo Prasetya Kusumah, MSc - SedStrat / Teknik Geologi Universitas Pertamina``
- ``mathinsight.org``

# Week 03 - List Tuple Set Dictionary Array

## 1. List
**`List`** adalah salah satu tipe dari data collection. Karakter dari list adalah:
- Mutable - dapat diubah nilai masing-masing element
- Ordered - urutan data yang dimasukkan sesuai dengan urutan pada saat list dibuat
- Dapat menyimpan data duplikat

### 1.1 List Declaration
- List di deklarasikan dengan anotasi dengan: `vars = [value_1, value_2]`<br>contoh syntax: `list_data = [2, 5, 3, 7, 2, 1]`


### 1.2 List Indexing and Slicing
Indexing dan slicing adalah metode memanggil element dalam sebuah data collection. 
- **Indexing** dilakukan dengan anotasi `var[index]`<br>contoh syntax: <br>`list_data[2]` <br> Luaran:<br> `>>> 3`
- **Slicing** dilakukan dengan anotasi `var[star_index : end_index]`. Ketentuan <a href="https://discuss.codecademy.com/t/why-and-how-are-selecting-python-list-indexes-inclusive-and-exclusive/431896">inclusice - exclusive</a>
 berlaku unutuk slicing. <br>contoh syntax: <br>`list_data[2:5]` <br> Luaran:<br> `>>> [5, 3, 7, 2]`

### 1.3 List Slice and Stride
- List Slice and **Stride** adalah memanggil urutan element dalam data dengan ketentuan melongkap data. Dilakukan dengan anotasi `var[star_index : end_index : skip_every]`. <br>contoh syntax: <br>`list_data[2:5:2]` <br> Luaran:<br> `>>> [5, 7]`

In [1]:
list_data = [2, 5, 3, 7, 2, 1]
list_data[1:6:2]

[5, 7, 1]

Tugas Part A:
Buatlah kode pada cell code dibawah ini untuk:
- Deklarasi list yang berisi data 2, 1, 9, 1, 3, 4 dalam variabel bernama "var_a"
- Buatlah syntax untuk memanggil nilai 9 dalam var_a
- Buatlah syntax untuk mamanggil nilai 1, 9, 1 dalam var_a
- Buatlah syntax untuk mamanggil nilai 2, 1, 4 dalam var_a

In [10]:
var_a = [2, 1, 9, 1, 3, 4]
print(var_a[2])
print(var_a[1:4])
var_a = [var_a[0],var_a[1],var_a[5]]
print(var_a)

9
[1, 9, 1]
[2, 1, 4]

### 1.5 2d  List and Indexing
- 2d list adalah list-in-list (list dalam list). Contoh deklarasi list 2D dengan ukurn 4 x 4 adalah: <br>
`var_2d = [[1, 2, 3, 4],`<br>`[11, 12, 13, 14],`<br>`[21, 22, 23, 24],`<br>`[31, 32, 33, 34]] `
- indexing pada 2d list dilakukan dengan dengan syntax: `var_2d[row][col]`. <br>Contoh syntax:<br> `var_2d[2][1]` <br> luaran: <br> `>>> 2`
### 1.6 Function dan Methods
- beberapa fungsi method penting:
    - `len(list_variable)` - mencari panjang dari sebuah list
    - `min(list_variable)` - mencari nilai **minimum** dari sebuah list
    - `max(list_variable)` - mencari nilai **maximum** dari sebuah list
    - `sum(list_variable)` - mencari penjumlagan dari seluruh element dalam list

    - Contoh syntax:
        - `my_list = [1, 2, 3, 4, 5, 6, 3, 2, 1]`
        - `len(my_list)`
        - `>>> 9`
        - `min(my_list)`
        - `>>> 6`
        - `max(my_list)`
        - `>>> 1`
    
- Beberapa methods pada list:
    - `list_variable.append(new_val)` - menambahkan nilai baru `new_val` di urutan paling belakang
    - `list_variable.insert(index, new_val)` - menambahkan nilai baru `new_val` di urutan `index`
    - `list_variable.pop(index)` - menghapus nilai di urutan `index`
    - `list_variable.remove(value)` - menghapus nilai `value` dalam sebuah list
    
 

### 1.7 List Operation
- Operation yang berlaku untuk list adalah `+` dan `*` pada skalar. Proses yang terjadi pada operasi ini adalah proses *concatenation* dan *duplication*. Contoh implementasi list operation:
    - `my_list = [1, 2, 3, 4, 5, 6, 3, 2, 1]`
    - `my_list + my_list`
    - `>>>[1, 2, 3, 4, 5, 6, 3, 2, 1, 1, 2, 3, 4, 5, 6, 3, 2, 1]`
    - `my_list * 3`
    - `>>> [1, 2, 3, 4, 5, 6, 3, 2, 1,1, 2, 3, 4, 5, 6, 3, 2, 1,1, 2, 3, 4, 5, 6, 3, 2, 1]`


### 1.8 Mengupdate Value pada List
- Mengganti nilai pada List dapat dilakuakn dengan metode indexing (`[ ... ]`) lalu diberikan metode assignment (`=`)
- Contoh syntax:
     - `my_list = [1, 2, 3, 4, 5, 6, 3, 2, 1]`
     - `my_list[3] = 999`
     - `print(my_list)`
     - `>>> [1, 2, 3, 999, 5, 6, 3, 2, 1]`

Tugas Part B:
Buatlah kode pada cell code dibawah ini untuk:
- Deklarasi 2d dengan isi [1, 2, 3, 4, 5, 6, 3, 2, 1], [1, 2, 3, 4, 5, 6, 3, 2, 1], [1, 2, 3, 4, 5, 6, 3, 2, 1] dengan nama variabel my_2d_list
- Deklarasi 1d dengan isi [12, 21, 33, 45, 54, 62, 31, 23, 11] dengan nama variabel my_list
- cari nilai max dari my_list, simpan dalam variabel max_1d
- Cari nilai min dari my_list, simpan dalam variabel min_1d
- Cari selisih dari nilai max dan min, simpan dalam variable data_range
- Cari nilai rata-rata dari my_list
- hapus element 31 pada my_list
- tambahkan nilai 999 di akhir my_list
- Lakukan penjumlahan antara my_list dengan my_2d_list kemudian disiman dalam variabel combined_list
- Ubah nilai terakhir dari combined_list menjadi -999

In [31]:
my_2d_list = [[1, 2, 3, 4, 5, 6, 3, 2, 1], [1, 2, 3, 4, 5, 6, 3, 2, 1], [1, 2, 3, 4, 5, 6, 3, 2, 1]]
my_list = [12, 21, 33, 45, 54, 62, 31, 23, 11]

print('my_2d_list: ', my_2d_list)
print('my_list: ', my_list)

#nilai Max dari my_list
max_1d = max(my_list)
print('max_1d: ', max_1d)

#nilai Min dari my_list
min_1d = min(my_list)
print('min_1d: ', min_1d)

#selisih nilai max dan min dari my_list
data_range = max_1d - min_1d
print('data_range: ', data_range)

#nilai rata-rata dari my_list
mean = sum(my_list)/len(my_list)
print('mean: ', mean)

#hapus element 31 pada my_list
my_list.remove(31)
print('my_list: ', my_list)

#tambahkan nilai 999 di akhir my_list
my_list.append(999)
print('my_list: ', my_list)

#Lakukan penjumlahan antara my_list dengan my_2d_list kemudian disiman dalam variabel combined_list
combined_list = my_list + my_2d_list
print('combined_list: ', combined_list)

#Ubah nilai terakhir dari combined_list menjadi -999
combined_list[11] = -999
print('combined_list: ', combined_list)

my_2d_list:  [[1, 2, 3, 4, 5, 6, 3, 2, 1], [1, 2, 3, 4, 5, 6, 3, 2, 1], [1, 2, 3, 4, 5, 6, 3, 2, 1]]
my_list:  [12, 21, 33, 45, 54, 62, 31, 23, 11]
max_1d:  62
min_1d:  11
data_range:  51
mean:  32.44444444444444
my_list:  [12, 21, 33, 45, 54, 62, 23, 11]
my_list:  [12, 21, 33, 45, 54, 62, 23, 11, 999]
combined_list:  [12, 21, 33, 45, 54, 62, 23, 11, 999, [1, 2, 3, 4, 5, 6, 3, 2, 1], [1, 2, 3, 4, 5, 6, 3, 2, 1], [1, 2, 3, 4, 5, 6, 3, 2, 1]]
combined_list:  [12, 21, 33, 45, 54, 62, 23, 11, 999, [1, 2, 3, 4, 5, 6, 3, 2, 1], [1, 2, 3, 4, 5, 6, 3, 2, 1], -999]

## 2. Tuple dan Set
Tuple dan Set adalah jenis lainnya dari data collection di python. Karakterisitik dari Tuple dan Set adalah:
- Tuple
    - Immutable - Tidak dapa diubhan elementnya
    - Ordered - Susunan data sama dengan urutan pada saat input data
    - Bisa menampung data duplikat
- Set 
    - Immutable - tidak dapat dibuah elementnya
    - Unordered - Susuan berbeda dengan urutan pada saat input
    - Tidak bisa menampung duplikasi
    - Tidak dapat di-`index` ataupun di-`slice`
    
### 2.1 Deklarsi Tuple dan Set
- Tuple dapat di deklarasikan dengan `( ... )`
- Set dapat di deklarasikan dengan `{ ... }`
- contoh syntax:
    - `var_a = (3, 2, 1, 1, 2, 3)`
    - `var_b = {3, 2, 1, 1, 2, 3}`
    - `print(var_a)`
    - `>>> (3, 2, 1, 1, 2, 3)`
    - `print (var_b)`
    - `>>> {1, 2, 3}`   ====> nilai yang tersimpan di memory memiliki susuan berbeda dengan input dan duplikasi di hapus
    
### 2.2 Indeixing Slicing dan Stride
- Indexing dan Slicing hanay bisa dilakukan pada **Tuple**
- Indexing dan slicing menggunakan anoasi yang sama, yaitu `var_name[ index ]` unutk indexing dan `var_name[start : stop : step]` untuk slicing striding. Sama dengan List, slicing pada tuple pun memiliki prinsip _Inclusice-exclusice_.
- Contoh syntax:
    - `var_a = (3, 2, 1, 1, 2, 3)`
    - `var_b = {3, 2, 1, 1, 2, 3}`
    - `print(var_a[3])`
    - `>>> 1
    - `print(var_a[3:5])`
    - `>>> (1, 2)
    - `print(var_b[0])`
    - `>>> error!`     ===> error karena set tidak bisa diindex
    
### 2.3 Operation pada Tuple dan Set
- Operasi `+` dan `*` hanya bisa dilakukan pada tuple
- contoh syntax:
    - `var_a = (3, 2, 1, 1, 2, 3)`
    - `var_b = {3, 2, 1, 1, 2, 3}`
    - `print(var_a + var_a)`
    - `>>> (3, 2, 1, 1, 2, 3, 3, 2, 1, 1, 2, 3)
    - `print(var_a*2)`
    - `>>> (3, 2, 1, 1, 2, 3, 3, 2, 1, 1, 2, 3)
    - `print(var_b + var_b)`
    - `>>> error!`     ===> error karena set tidak dilakukan operasi + dan *

### 2.4 Update Value Tuple dan Set
- Update Value tidak bisa dilakukan pada Tuple dan Set
- Jika ingin melakukan value update, tuple set harus diubah terlebih dahulu menjadi list
- contoh syntax:
    - `var_a = (3, 2, 1, 1, 2, 3)`
    - `var_b = {3, 2, 1, 1, 2, 3}`
    - `var_a[3] = 999`   ===> ! error
    - `var_b[0] = 999`   ===> ! error
    - `var_c = list(var_a))`   ====> konversi dari tuple menjadi list
    - `var_d = list(var_b))`   ====> konversi dari set menjadi list
    - `var_c[3] = 999`   
    - `var_c[0] = 999`   
    - `var_a = tuple(var_c)`      ====> konversi dari list menjadi tuple
    - `var_b = set(var_d)`        ====> konversi dari list menjadi set

Tugas Part C:
- Buatlah tuple dan set dengan isi 2,3,5,6,3,3,1,2,2,4,5,6,7 dengan nama var_a untuk tuple dan var_b untuk list
- konversi var_a dan var_b menjadi list, masing-masing di simpan sebagai variable var_c dan var_d
- update index ke-3 dari var_c dan dan var_d menjadi 999
- ubah kembali var_c dan var_d menjadi tuple dan set di dalam var_a dan var_b

In [42]:
#Buatlah tuple dan set dengan isi 2,3,5,6,3,3,1,2,2,4,5,6,7 dengan nama var_a untuk tuple dan var_b untuk set
var_a = (2,3,5,6,3,3,1,2,2,4,5,6,7)
print('var_a: ', var_a)
var_b = {2,3,5,6,3,3,1,2,2,4,5,6,7}
print('var_b: ', var_b)

#konversi var_a dan var_b menjadi list, masing-masing di simpan sebagai variable var_c dan var_d
var_c = list(var_a)
print('var_c: ', var_c)

var_d = list(var_b)
print('var_d: ', var_d)
#update index ke-3 dari var_c dan dan var_d menjadi 999
var_c[3] = 999
print('var_c: ', var_c)

var_d[3] = 999
print('var_d: ', var_d)

#ubah kembali var_c dan var_d menjadi tuple dan set di dalam var_a dan var_b
var_a = tuple(var_c)
print('var_a: ', var_a)

var_b = set(var_d)
print('var_b: ', var_b)

var_a:  (2, 3, 5, 6, 3, 3, 1, 2, 2, 4, 5, 6, 7)
var_b:  {1, 2, 3, 4, 5, 6, 7}
var_c:  [2, 3, 5, 6, 3, 3, 1, 2, 2, 4, 5, 6, 7]
var_d:  [1, 2, 3, 4, 5, 6, 7]
var_c:  [2, 3, 5, 999, 3, 3, 1, 2, 2, 4, 5, 6, 7]
var_d:  [1, 2, 3, 999, 5, 6, 7]
var_a:  (2, 3, 5, 999, 3, 3, 1, 2, 2, 4, 5, 6, 7)
var_b:  {1, 2, 3, 5, 6, 999, 7}

In [45]:
# harusnya baris terakhir seperti ini (var_b harusnya berurutan)
var_b = set(var_d)
var_b

{1, 2, 3, 5, 6, 7, 999}

## 3. Dictionary
- Dictionary adalah data collection yang memiliki pasangan key dan values
- Key merupakan singular data type: string, integer, maupun float
- Dict memiliki sifat *mutable, dan ordered*.
- Values dapat berupa singular data maupun data collection

### 3.1 Deklarasi Dictionary
- Dictionary di deklarasikan dengan anotasi `{key: values}`
- contoh syntax:
    - `my_dict1 = {`**`'nama'`**`: 'adit'}`  
        - **`'nama'`** sebagai key, `'adit'` sebagai value<br><br>
    - `my_dict2 = {`**`'hobby'`**`: ['cycling', 'running']}`
        - **`'hobby'`** sebagai key, `['cycling', 'running']` sebagai value dalam bentuk list<br><br>
    - `my_dict3 = {`**`'nama'`**`: 'adit', `**`'hobby'`**`: ['cycling', 'running']}`
        - **`'hobby'`** dan **`'name'`** sebagai key, `'adit' ` dan `['cycling', 'running']` sebagai value dalam bentuk list
        
### 3.2 Slicing pada Dictionary
- Slicing dilakukan dengan anotasi `my_dict[key]`.
- Jika values nya adalaha sebuah collection, maka dapat dilakukan indexing pada list dalam dictionary dengan syntax `my_dict[key][index]`
- contoh syntax:
    - `my_dict3 = {`**`'nama'`**`: 'adit', `**`'hobby'`**`: ['cycling', 'running']}`
    - `my_dict3['hobby']`
    - `>>> ['cycling', 'running']`
    - `my_dict3['hobby'][1]`
    - `>>> 'running'`
    
### 3.3 Update Nilai pada Dictionary
- Update dapat dilakuakn degan metode dictionary indexing dan assignment. 
- Contoh syntax:
    - `my_dict3 = {`**`'nama'`**`: 'adit', `**`'hobby'`**`: ['cycling', 'running']}`
    - `my_dict3['hobby'] = ['cycling', 'cooking']`
    - `my_dict3['hobby']`
    - `>>> ['cycling', 'cooking']`
    - `my_dict3['hobby'].append('fishing')`
    - `my_dict3['hobby']`
    - `>>> ['cycling', 'cooking', 'fishing']`
    
- Menambahkan keys pada dictionary dapat dilakukan dengan cara assignemtn pada keys baru.
- contoh syntax:
    - `my_dict3 = {`**`'nama'`**`: 'adit', `**`'hobby'`**`: ['cycling', 'running']}`
    - `my_dict3['alamat'] = 'Taman Kopo Indah'`
    - `print(my_dict3)`
    - `>>> {`**`'nama'`**`: 'adit', `**`'hobby'`**`: ['cycling', 'running'], `**`'alamat'`**`:'Taman Kopo Indah'}`

Tugas Part D:
- Buatlah sebuah dictionary yang berisi tiga keys dengan nama keys 'nama' 'nim' dan 'ttl' disimpan dalam variabel data_mhs.
- Masing-masing keys diisi dengan 5 nilai. Nama, nim, dan ttl diisi dengan nilai yang benar.
- Tambah keys pada data_mhs dengan `kota_asal` yang diisi dengan kota asal mhs yang bersangkutan

In [52]:
#Buatlah sebuah dictionary yang berisi tiga keys dengan nama keys 'nama' 'nim' dan 'ttl' disimpan dalam variabel data_mhs.
data_mhs = {'nama' : '', 'nim' : '', 'ttl' : ''}
print('data_mhs: ', data_mhs)

#Masing-masing keys diisi dengan 5 nilai. Nama, nim, dan ttl diisi dengan nilai yang benar.
data_mhs['nama'] = ['aditya', 'muslim', 'coki', 'pardede', 'dustin']
print('data_mhs: ', data_mhs)

data_mhs['nim'] = ['010', '012', '028', '032', '069']
print('data_mhs: ', data_mhs)

data_mhs['ttl'] = ['jakarta, 5 maret 1980', 'madura, 8 mei 1988', 'depok, 19 juni 1990', 'binjai, 16 januari 1960', 'namek, 31 februari 1945']
print('data_mhs: ', data_mhs)

#Tambah keys pada data_mhs dengan `kota_asal` yang diisi dengan kota asal mhs yang bersangkutan
data_mhs['kota_asal'] = ['jepang', 'argentina', 'depok', 'jambi', 'unknown_planet']
print('data_mhs: ', data_mhs)

data_mhs:  {'nama': '', 'nim': '', 'ttl': ''}
data_mhs:  {'nama': ['aditya', 'muslim', 'coki', 'pardede', 'dustin'], 'nim': '', 'ttl': ''}
data_mhs:  {'nama': ['aditya', 'muslim', 'coki', 'pardede', 'dustin'], 'nim': ['010', '012', '028', '032', '069'], 'ttl': ''}
data_mhs:  {'nama': ['aditya', 'muslim', 'coki', 'pardede', 'dustin'], 'nim': ['010', '012', '028', '032', '069'], 'ttl': ['jakarta, 5 maret 1980', 'madura, 8 mei 1988', 'depok, 19 juni 1990', 'binjai, 16 januari 1960', 'namek, 31 februari 1945']}
data_mhs:  {'nama': ['aditya', 'muslim', 'coki', 'pardede', 'dustin'], 'nim': ['010', '012', '028', '032', '069'], 'ttl': ['jakarta, 5 maret 1980', 'madura, 8 mei 1988', 'depok, 19 juni 1990', 'binjai, 16 januari 1960', 'namek, 31 februari 1945'], 'kota_asal': ['jepang', 'argentina', 'depok', 'jambi', 'unknown_planet']}

In [7]:
import numpy as np

## 4. Array
- Array bukan merupakan *built-in* function dalam python. Array adalah bagian dari **NumPy** oleh karena itu, sebelum menggunakan Array library **numpy** perlu di-import terlebih dahulu.
- Array adalah sejenis data collection yang menyerupai Matrix dalam matematik. 
- Array memiliki sifat mutable, ordered, *bisa di lakukan operasi matematis*.

### 4.1 Deklarasi Array
- Array dapat dibuat dengan mengkonversi list, tuple, atau set menjadi numpy.array
- contoh syntax:
    - `import numpy as np`   ==> contoh import numpy dengan alias np
    - `var_a = [8, 6, 4, 2, 1, 6]`
    - `arr   = np.array(var_a)`   ==> memanggil perintah array pada alias numpy np
    - `print(arr)`
    - `>>> numpy.array([8, 6, 4, 2, 1, 6])`
    
    
### 4.2 List Indexing, Slicing, dan Striding
- Metode Indexing, slicing dan stiring yang berlaku di List juga berlaku di Array
- contoh:
    - `my_arr = np.array([1,2,3,4,5,6,6,4,3,3,2,4])`
    - `my_arr[0]`
    - `>>>1`
    - `my_arr[1:5]`
    - `>>>numpy.array([2,3,4,5])`
    - `my_arr[::2]`
    - `>>>[1,3,5,6,3,2]`
    
### 4.3 Value Update pada Array
- Update value dapat dilakuan dengan metode indexing dan assignemnt.
- contoh syntax:
    - `my_arr = np.array([1,2,3,4,5,6,6,4,3,3,2,4])`
    - `my_arr[0] = 999`
    - `print(my_arr)`
    - `[999,2,3,4,5,6,6,4,3,3,2,4]`
    
### 4.4 Operasi Matematis pada Array
- Operasi matematis pada array dapat dilakuakan selayaknya operasi matriks dalam matematik
- contoh syntax:
    - `my_arr1 = np.array([1, 2, 3, 4, 5, 6, 6, 4, 3, 3, 2, 4])`
    - `my_arr2 = np.array([[1, 2, 3],[4, 5, 6],[6, 4, 3],[3, 2, 4]])`
    - `my_arr1 * 2` >>> `array([ 2,  4,  6,  8, 10, 12, 12,  8,  6,  6,  4,  8])`
    - `my_arr2 * 3` >>> `array([[ 3,  6,  9], [12, 15, 18], [18, 12,  9], [ 9,  6, 12]])`

In [53]:
import numpy as np

Tugas Part E:
- Buatlah sebuah array dengan nilai [[6 0 7 4 0],[9 2 7 9 2],[5 3 3 0 1],[6 8 3 5 7]] pada variabel arr_a
- Buatlah sebuah array dengan nilai [[8], [0], [2], [9]] pada variabel arr_b
- Buatlah sebuah array dengan nilai [8, 0, 2, 9] pada variabel arr_c
- Lakukan operasi penjumlahan antara arr_a dan arr_b
- Lakukan operasi penjumlahan antara arr_a dan arr_c
- Mengapa operasi antara arr_a dan arr_c error?  => jawab di PART FINAL

In [55]:
#Buatlah sebuah array dengan nilai [[6 0 7 4 0],[9 2 7 9 2],[5 3 3 0 1],[6 8 3 5 7]] pada variabel arr_a
arr_a = np.array([[6,0,7,4,0], [9,2,7,9,2], [5,3,3,0,1],[6,8,3,5,7]])
print('arr_a: ', arr_a)

#Buatlah sebuah array dengan nilai [[8], [0], [2], [9]] pada variabel arr_b
arr_b = np.array([[8], [0], [2], [9]])
print('arr_b: ', arr_b)

#Buatlah sebuah array dengan nilai [8, 0, 2, 9] pada variabel arr_c
arr_c = np.array([8, 0, 2, 9])
print('arr_c: ', arr_c)

#Lakukan operasi penjumlahan antara arr_a dan arr_b
sum_ab = arr_a + arr_b
print('sum_ab: ', sum_ab)

#Lakukan operasi penjumlahan antara arr_a dan arr_c
sum_ac = arr_a + arr_c
print('sum_ac: ', sum_ac)

arr_a:  [[6 0 7 4 0]
 [9 2 7 9 2]
 [5 3 3 0 1]
 [6 8 3 5 7]]
arr_b:  [[8]
 [0]
 [2]
 [9]]
arr_c:  [8 0 2 9]
sum_ab:  [[14  8 15 12  8]
 [ 9  2  7  9  2]
 [ 7  5  5  2  3]
 [15 17 12 14 16]]

ValueError: operands could not be broadcast together with shapes (4,5) (4,)

### Mengapa operasi antara arr_a dan arr_c error?

Karena arr_a memiliki 4 buah list sedangkan arr_c hanya memiliki 1 buah list, hal ini tentunya tidak akan bisa dilakukan operasi matematis dalam array karena memiliki jumlah list yang berbeda.