<img src="https://drive.google.com/file/d/1hLPxSnB-DmBUNkehiubROYusmtVQUHzD/view?usp=sharing" width="300" height="400" align="right">

# Introduction to Python
Note book ini adalah panduan untuk mempelajari Python secara umum.
- WEEK 1: Instalasi Pycharm, Python, dan Jupyter notebook
- WEEK 2: Pengenalan tipe data, dan operasi sederhana
- WEEK 3: Pengenalan ***List***, ***Tuple***, ***Set***, ***Dictionary*** dan ***Array***
- WEEK 4: Pengenalan If, Else, dan Elif
- WEEK 5: Pengenalan iterasi For dan While
- WEEK 6: Pengenalan Function dan Class


Disusun oleh: 
- ``Epo Prasetya Kusumah, MSc - SedStrat / Teknik Geologi Universitas Pertamina``
- ``Yusuf Arico Pratama,S.T.``
- ``Mikhael Amos``

# Function Exercise

# 1. Function <a class="anchor" id="1"></a>
## 1.1 Deklarasi `function` <a class="anchor" id="1.1"></a>
`function` dalam python adalah objek yang berisi *perintah (command)*. Objek tersebut bisa kita buat dan tentunya dijalankan. `function` dapat digunakan untuk mempermudah menggunakan perintah yang dipakai secara rutin.<br>

Dalam Python, pembuatan `function` sangat sederhana, function dapat dideklarasikan dengan cara:

def function (parameter):   -> baris menyatakan deklarasi dari sebuah perintah
    commands             -> baris berisi perintah
    returns              -> baris berisi luaran dari function

In [9]:
# contoh pembuatan function:

def pangakat_dua (x):  # -> baris menyatakan deklarasi dari sebuah perintah
    n = x*x            # -> baris berisi perintah
    return n           # -> baris berisi luaran dari function

nilai = pangakat_dua(x=10)

print(nilai)

100

## 5.2 Function dengan multiple input 
function dapat juga dapat menerima parameter lebih dari satu.

**contoh:**

In [11]:
def luas_persegi(P, L):     #---> paramter input nya P dan L
    A = P * L               #---> proses perkalian              
    return A                #---> output dari function

luas = luas_persegi(P=100, L = 30)
print(luas)

3000

# 5.3 Function dengan nilai Default
Nilai default dapat diberikan pada function. Nilai default akan dipakai jika user tidak memberikan parameter input pada saat pemganggilan function. 

**contoh:**

In [21]:
def volume_kubus(P = 10, L = 20, T = 30):     #---> paramter input nya P, L dan T dengan nilai default masing-masing 10
    print('nilai P:', P, 'nilai L:', L ,'nilai T:',  T)
    V = P * L * T                             #---> proses perkalian              
    return V                                  #---> output dari function

vol = volume_kubus(P=100, L = 30, T = 2)
print(vol)

vol = volume_kubus(P=1, L = 1)     # karena nilai T tidak diberikan, maka niali T secara default menjadi 30
print(vol)

vol = volume_kubus(P=1)           # karena nilai L dan T tidak diberikan, maka niali T secara default menjadi 20, dan 30
print(vol)

vol = volume_kubus()    # karena nilai P L dan T tidak diberikan, maka niali T secara default menjadi 10, 20, dan 30
print(vol)

nilai P: 100 nilai L: 30 nilai T: 2
6000
nilai P: 1 nilai L: 1 nilai T: 30
30
nilai P: 1 nilai L: 20 nilai T: 30
600
nilai P: 10 nilai L: 20 nilai T: 30
6000

# latihan 1:
Buatlah sebuah function untuk grading nilai dengan ketentuan:
A>=80
B 70 - 80
C 60 - 70
D 50 - 60
E < 50

In [28]:
def nilai(x):
    if x>80:
        print("A")
    elif x>=70 and x<= 80:
        print("B")
    elif x>=60 and x<= 70:
        print("C")
    elif x>=50 and x<= 60:
        print("D")
    else:
        print("E")
    

nilai(70)

B

# Latihan 2:

Buatlah sebuah function yang berfungsi unutk megnalikan dua buah list dengan output dalam format list dengan ketentuan:
- jika kedua list tidak sama panjang maka lakukan printah print('list tidak sama panjang') dan proses perkalian tidak terjadi
- Proses pekralian dengan basis baris kali baris, kolom kali kolom

```
[1,2,3] * [5,6,5]  = [1*5, 2*6, 3*5]

[[1,2,3],      [[11, 22, 33],    [[1*11, 2*22, 3*33],
 [4,5,6],   *   [44, 55, 66],  =  [4*44, 5*55, 6*66],
 [7,8,9]]       [77, 88, 99]]     [8*77, 8*88, 9*99]]
```

In [2]:
import numpy as np

In [6]:
def checker(x,y):
    if len(x)!=len(y):
        print("list tidak sama panjang")
    else:
        x*y
    return x*y

list1=np.array([20,30,40])
list2=np.array([20,30,40,80])

list(checker(list1,list2))

list tidak sama panjang

ValueError: operands could not be broadcast together with shapes (3,) (4,)

In [33]:
def matrixx(a,b):
    result = a*b
    return result


a = np.array([[1,2,3],[4,5,6],[7,8,9]])
b = np.array([[11,22,33],[44,55,66],[77,88,99]])

matrixx(a,b)

array([[ 11,  44,  99],
       [176, 275, 396],
       [539, 704, 891]])

# Class
Class adapah python objek yang dapat menyimpan value dalam class attribute dan function secara bersamaan. Berikut adalah inisiasi dari objek class:
```
class class_name:                          --> inisasi class dengan class statement
    def __init__(self, param1, param2):    --> __init__ adalah codeblock yang akan dijalankan ketika class dipanggil
        self.val1 = param1                 --> self adalah bagian dari class yang beguna untuk menyimpan nilai (value)
        self.val2 = param2                 --> param2 dimasukkan ke dalam val2 dengan metode assignment
```

**contoh:**

In [2]:
class data_mahasiswa:
    def __init__(self, nama_depan, nama_belakang, nim, umur):
        self.First = nama_depan                         #=======> memasukkan parameter kedalam class attribute
        self.Last = nama_belakang                       #=======> memasukkan parameter kedalam class attribute
        self.Fullname = nama_depan+ ' '+nama_belakang   #=======> memasukkan parameter kedalam class attribute
        self.Nim  = nim                                 #=======> memasukkan parameter kedalam class attribute
        self.Age  = umur                                #=======> memasukkan parameter kedalam class attribute
        
mhs = data_mahasiswa('Nia', 'siapa', 120212304, 18)

print(mhs.First)              #=======> Memanggil value dalam class
print(mhs.Last)               #=======> Memanggil value dalam class
print(mhs.Fullname)           #=======> Memanggil value dalam class
print(mhs.Nim)
print(mhs.Age)                #=======> Memanggil value dalam class

Nia
siapa
Nia siapa
120212304
18

# Class Function
Selain dapat menyimpan value dalam class attribute, class juga dapat menyimpan function.

contoh:

In [46]:
class data_mahasiswa:
    def __init__(self, nama_depan, nama_belakang, nim, umur):
        self.First = nama_depan
        self.Last = nama_belakang
        self.Fullname = nama_depan+ ' '+nama_belakang
        self.Nim  = nim
        self.Age  = umur
        
    def calc_name_length(self):          # function dalam class untuk mencari tahu panjang string pada fullname
        return len(self.Fullname)
    
    def nim_x_umur(self):
        return self.Nim * self.Age
    
    def update_first(self, new_first):  # function dalam class dengan parameter baru, dan nilai nya disimpan dalam class atttribute
        self.First = new_first
        self.Fullname = new_first + ' ' + self.Last
        
    def update_last(self, new_last):   # function dalam class dengan parameter baru, dan nilai nya disimpan dalam class atttribute
        self.Last = new_last
        self.Fullname = self.First + ' ' + new_last
        
    def update_nim(self, new_nim):     # function dalam class dengan parameter baru, dan nilai nya disimpan dalam class atttribute
        self.Nim = new_nim

mhs = data_mahasiswa('Nia', 'siapa', 120212304, 18)

print(1, mhs.Fullname, mhs.Nim, mhs.Age)

print(2, mhs.calc_name_length())

mhs.update_first('Joko')
print(3, mhs.Fullname, mhs.Nim, mhs.Age)


mhs.update_last('lagi')
print(4, mhs.Fullname, mhs.Nim, mhs.Age)

mhs.update_nim(9999999)
print(5, mhs.Fullname, mhs.Nim, mhs.Age)

1 Nia siapa 120212304 18
2 9
3 Joko siapa 120212304 18
4 Joko lagi 120212304 18
5 Joko lagi 9999999 18

## Latihan Class

Buatlah class python objek object:
- inputnya adalah list
- list input disimpan dalam attribut data
- buatlah function yang mengubah list menjadi kombinasi pasangan unik diantar elemetn pada list nya

contoh berjalannya class:
```
test = pairing([2,1,4,1])
test.data
>>> [2,1,4,5]
test.pair_unique()
>>> [2,2] ,[2,1], [2,4], [1,2], [1,1], [1,4], [4,2], [4,1], [4,4]]

```

In [ ]:
###your code HERE####