<img src="https://drive.google.com/file/d/1hLPxSnB-DmBUNkehiubROYusmtVQUHzD/view?usp=sharing" width="300" height="400" align="right">

# Introduction to Python
Note book ini adalah panduan untuk mempelajari Python secara umum.
- WEEK 1: Instalasi Pycharm, Python, dan Jupyter notebook
- WEEK 2: Pengenalan tipe data, dan operasi sederhana
- WEEK 3: Pengenalan ***List***, ***Tuple***, ***Set***, ***Dictionary*** dan ***Array***
- WEEK 4: Pengenalan If, Else, dan Elif
- WEEK 5: Pengenalan iterasi For dan While


Disusun oleh: 
- ``Epo Prasetya Kusumah, MSc - SedStrat / Teknik Geologi Universitas Pertamina``
- ``Yusuf Arico Pratama,S.T.``
- ``Mikhael Amos``

***

In [ ]:
nama = None
nim = None

# Week 5 : Pengenalan iterasi For dan While
## Daftar Isi:
- [1 Looping dengan menggunakan ``for ...``](#1)
	- [1.1 Penggunaan ``for ...``](#1.1)
	- [1.2 Nested ``for ...``](#1.2)
- [2. Looping dengan menggunakan ``while...``](#2)
	- [2.1 Penggunaan ``while ...``](#2.1)
	- [2.2 Nested ``while...``](#2.2)
- [3. Flow Control berupa ``break`` dan ``continue``](#3)

***

# 1. Looping dengan menggunakan ``for ...`` <a class="anchor" id="1"></a>
## 1.1 Penggunaan `for ...` <a class="anchor" id="1.1"></a>

Hampir sama dengan `while ...`, `for ...` digunakan juga untuk proses iterasi. 
- Perbedaannya terletak pada objek yang diiterasikan. 
    - `while ...` menggunakan conditional, 
    -  `for ...` menggunakan data container sebagai objek iterasi. <br>
    
Syntax yang digunakan untuk menggunakan iterasi dengan `for ...` adalah:

for (iterator) in (container):
    (commands)

contoh penggunaan `for ...`:

In [4]:
data = [0,2,3,2,1]

for i in data:
    print('nilai i + 5 = ', i+5)

nilai i + 5 =  5
nilai i + 5 =  7
nilai i + 5 =  8
nilai i + 5 =  7
nilai i + 5 =  6

In [3]:
planets = ['Mercury', 'Venus', 'Earth', 'Mars', 'Jupiter', 'Saturn', 'Uranus', 'Neptune']
for planet in planets:
    print(planet, end=' ') # print all on same line

Mercury Venus Earth Mars Jupiter Saturn Uranus Neptune

In [7]:
planets = ['Mercury', 'Venus', 'Earth', 'Mars', 'Jupiter', 'Saturn', 'Uranus', 'Neptune']
for planet in planets:
    print('nama planet:', planet)

nama planet: Mercury
nama planet: Venus
nama planet: Earth
nama planet: Mars
nama planet: Jupiter
nama planet: Saturn
nama planet: Uranus
nama planet: Neptune

In [8]:
import numpy as np

In [16]:
data1 = np.arange(10)
data1

array([0, 1, 2, 3, 4, 5, 6, 7, 8, 9])

In [17]:
len(data1)

10

In [18]:
np.arange(len(data1))

array([0, 1, 2, 3, 4, 5, 6, 7, 8, 9])

In [20]:
for i in np.arange(len(data1)):
    print(data1[i])

0
1
2
3
4
5
6
7
8
9

In [ ]:
#timer countdown
for i in range(10,0,-1):
    print('Pesawat akan take-off dalam waktu',i,'s')
print('Whooossh!!!')

## Looping `for ...` in Dictionary

In [13]:
dict2 = {'no': [1,2,3,4,5,6,7],
         'nim': [1001, 1002, 1003, 1004, 1005, 1009, 1010],
         'nama': ['sari', 'ani', 'laras', 'dicky', 'ari', 'rani', 'agus'],
         'nilai': [85, 65, 87, 95, 75, 60, 80]}

In [14]:
for i in np.arange(7):
    print('nim: ',dict2['nim'][i], '    nama: ', dict2['nama'][i], '    nilai: ', dict2['nilai'][i])

nim:  1001     nama:  sari     nilai:  85
nim:  1002     nama:  ani     nilai:  65
nim:  1003     nama:  laras     nilai:  87
nim:  1004     nama:  dicky     nilai:  95
nim:  1005     nama:  ari     nilai:  75
nim:  1009     nama:  rani     nilai:  60
nim:  1010     nama:  agus     nilai:  80

In [60]:
Lst = [2,5,4,6,7]
hewan = ['panda', 'kuda', 'ikan', 'kecoa', 'nyamuk']

dictiona = {'Lst': [2,5,4,6,7],
         'hewan':['panda', 'kuda', 'ikan', 'kecoa', 'nyamuk']}

for i in np.arange(5):
    print(str(dictiona['Lst'][i])+': '+str(dictiona['hewan'][i]))

2: panda
5: kuda
4: ikan
6: kecoa
7: nyamuk

## Fungsi enumerate()
Di python ada sebuah fungsi bawaan yang bernama enumerate(). Enumerate() memungkinkan kita untuk melakukan loop terhadap suatu object semacam list disertai dengan pengambilan index dari setiap elemennya. Contohnya seperti berikut :

In [21]:
data

[0, 2, 3, 2, 1]

In [15]:
for i,j in enumerate(data):
    print (i, j)

0 0
1 2
2 3
3 2
4 1

In [22]:
areas = [11.25, 18.0, 20.0, 10.75, 9.50] #luas area untuk beberapa jenis kamar

# Change for loop to use enumerate() and update print()
for index,area in enumerate(areas) :
    print("room"+str(index)+": "+str(area))

room0: 11.25
room1: 18.0
room2: 20.0
room3: 10.75
room4: 9.5

## Fungsi range(), 
range() adalah suatu fungsi yang menghasilkan suatu baris nilai.

In [24]:
for i in range(5):
    print("ini adalah hasil untuk index =", i)

ini adalah hasil untuk index = 0
ini adalah hasil untuk index = 1
ini adalah hasil untuk index = 2
ini adalah hasil untuk index = 3
ini adalah hasil untuk index = 4

## 1.2 Nested `for ...` <a class="anchor" id="1.2"></a>
Sama hal nya dengan `while ...`, perintah `for ...` juga dapat menggunakan *nested iteration*. Dengan syntax sebagai berikut:

for (conditions1):
    for (condition2):
        (command)

contoh penggunaan `for ...` nested:

In [2]:
hewan = ['ayam', 'kucing', 'anjing']
nomor = [1, 2, 3]

for i in hewan:
    for j in nomor:
        print(i, j)

ayam 1
ayam 2
ayam 3
kucing 1
kucing 2
kucing 3
anjing 1
anjing 2
anjing 3

In [28]:
a = [1,2,4,3,2,1,5,3,4,2,8,9,10]

for i in a:
    if i<5 :
        print(i)
    else:
        print(i, 'tidak memenuhi syarat')
        break
        
print('nila i terakhir:', i)

1
2
4
3
2
1
5 tidak memenuhi syarat
nila i terakhir: 5

# Tugas 1
Membuat sand timer glass pakai python menggunakan `For...` atau `Nested For...`

**Hasil**

     ***************
      *************
       ***********
        *********
         *******
          *****
           ***
            *
           ***
          *****
         *******
        *********
       ***********
      *************
     ***************

In [75]:
# Hourglass pattern in Python

# Reading number of rows
row = 8

print("Generated Hourglass Pattern is: ")
# Upper-half
for i in range(row, 0, -1):
    for j in range(row-i):
        print(" ", end="")
    for j in range(1, 2*i):
        print("*", end="")
    print()

# Lower-half
for i in range(2, row+1):
    for j in range(row-i):
        print(" ", end="")
    for j in range(1, 2*i):
        print("*", end="")
    print()

Generated Hourglass Pattern is:
***************
 *************
  ***********
   *********
    *******
     *****
      ***
       *
      ***
     *****
    *******
   *********
  ***********
 *************
***************

# 2. Looping dengan menggunakan ``while...`` <a class="anchor" id="2"></a>
## 2.1 Penggunaan ``while ...`` <a class="anchor" id="2.1"></a>
perintah ``while`` digunakan untuk mengulang peritnah selama perintah syarat terpenuhi, berbeda dengan ``if..`` yang akan menjalankan perintah satukali setelah persyaraten terpenuhi.

Secara harfiah, peritnah ``while`` dapat terdiri atas:<br>
Contoh sytax while:

While (conditions):
    (command1)
else:
    (command2)

In [29]:
dict1 = {'nama': ['sania', 'ghaizain', 'yan', 'yusuf', 'ato', 'salim', 'fahri'],
         'uang': [100000, 50000, 20000, 100000, 50000, 50000, 20000]
        }

In [30]:
len(dict1['uang'])

7

In [31]:

jumlah = 0

i = 0
while i < len(dict1['uang']):
    jumlah = jumlah + dict1["uang"][i]
    print ("jumlah akhir:", jumlah, 
           "milik:",dict1["nama"][i],
           " uangnya:", dict1["uang"][i])
    i = i+1

jumlah akhir: 100000 milik: sania  uangnya: 100000
jumlah akhir: 150000 milik: ghaizain  uangnya: 50000
jumlah akhir: 170000 milik: yan  uangnya: 20000
jumlah akhir: 270000 milik: yusuf  uangnya: 100000
jumlah akhir: 320000 milik: ato  uangnya: 50000
jumlah akhir: 370000 milik: salim  uangnya: 50000
jumlah akhir: 390000 milik: fahri  uangnya: 20000

In [32]:
dict2 = {'no': [1,2,3,4,5,6,7],
         'nim': [1001, 1002, 1003, 1004, 1005, 1009, 1010],
         'nama': ['sari', 'ani', 'laras', 'dicky', 'ari', 'rani', 'agus'],
         'nilai': [85, 65, 87, 95, 75, 60, 80]}

In [33]:
rata2= 0

i = 0
while i< len(dict2['nilai']):
    print('nama: ', dict2['nama'][i], 
          'nim: ', dict2['nim'][i], 
          'nilai: ', dict2['nilai'][i])
    
    i = i+1

nama:  sari nim:  1001 nilai:  85
nama:  ani nim:  1002 nilai:  65
nama:  laras nim:  1003 nilai:  87
nama:  dicky nim:  1004 nilai:  95
nama:  ari nim:  1005 nilai:  75
nama:  rani nim:  1009 nilai:  60
nama:  agus nim:  1010 nilai:  80

In [ ]:
i = 2

while i < 5:
    print ('tok', i)
    i = i + 3

else:
    print('done')

## 2.2 Nested ``while...`` <a class="anchor" id="2.2"></a>
nested while adalah penggunaan ``while..`` dalam ``while..``.
Contoh penggunaan nested ``while..`` adalah:

while (conditions1):
    while (condition2):
        (command)

In [ ]:
i = 0
j = 0

while i < 5:
    while j <= 3:
        print ('ini i: ', i, 'dan ini j:',j)
        j = j + 1
    j = 0
    i = i+1

In [68]:
# Membuat timer countdown
i=10
while i >0:
    
    print('Bom akan meledak dalam waktu: ',i,'s')
    i=i-1
print('BooM!!!')

Bom akan meledak dalam waktu:  10 s
Bom akan meledak dalam waktu:  9 s
Bom akan meledak dalam waktu:  8 s
Bom akan meledak dalam waktu:  7 s
Bom akan meledak dalam waktu:  6 s
Bom akan meledak dalam waktu:  5 s
Bom akan meledak dalam waktu:  4 s
Bom akan meledak dalam waktu:  3 s
Bom akan meledak dalam waktu:  2 s
Bom akan meledak dalam waktu:  1 s
BooM!!!

In [69]:
i = 13
while i > 10:
    print ('ini adalah iterasi ke: ',i)
    if i == 12:
        print ('oh ini ada 12')
    i = i - 1

ini adalah iterasi ke:  13
ini adalah iterasi ke:  12
oh ini ada 12
ini adalah iterasi ke:  11

**jawaban:**

# Tugas 2
Membuat sand timer glass pakai python menggunakan `while`

**Hasil**

    * * * * * * * 
     * * * * * * 
      * * * * * 
       * * * * 
        * * * 
         * * 
          * 
         * * 
        * * * 
       * * * * 
      * * * * * 
     * * * * * * 
    * * * * * * *

In [76]:
n = 7
print("Generated Hourglass Pattern is: ")
# print upper triangle
i = n
while i>1:
    # printing stars
    print(" "*(n-i) + "* " * i)
    i-=1

# print lower triangle
i = 1
while i<=n:
    # printing stars
    print(" "*(n-i) + "* " * i)
    i+=1

Generated Hourglass Pattern is:
* * * * * * *
 * * * * * *
  * * * * *
   * * * *
    * * *
     * *
      *
     * *
    * * *
   * * * *
  * * * * *
 * * * * * *
* * * * * * *

# 3. Flow Control berupa ``break`` dan ``continue`` <a class="anchor" id="3"></a>
Flow control berupa ``break`` dan ``continue`` dapat digunakan dalam ``if...``, ``while...``, dan ``for...``.
- flow control ``break`` berfungsi untuk **menghentikan iterasi (looping)**  secara keseluruhan.

- flow control ``continue`` berfungsi untuk **menghentikan iterasi (looping)** yang sedang dijalankan, lalu **melanjutkan ke iterasi selanjutnya.**

for ........:
    command
    
    if ........:
        break

for ........:
    command
    
    if ........:
        continue
        
    command

In [ ]:
# contoh penggunaan break
i = 22

while i <= 50:
    i = i + 1
    
    if i == 30:
        break
    print ('tok', i)

In [ ]:
# contoh penggunaan continue
i = 45

while i <= 50:
    i = i + 1
    if i == 30:
        continue
    print ('tok', i)

In [ ]:
i = 10

while i > -1:
    try:
        print (10/i, i)
    except:
        print('i = 0')
    
    i = i-1

***

# Tugas 3
Koversi dari list:

Lst1 = [1,2,5,6,7]

hewan = [kucing, belalang, gajah, singa, onta]

menjadi sebuah dictionary menggunakan `For...` atau `Nested for...` dengan `break`

HASIL --> **Kamus Hewan = {1: 'kucing', 2: 'belalang', 5: 'gajah'... dst)}**

In [1]:
# Data
Lst1 = [1,2,5,6,7]
hewan = ['kucing', 'belalang', 'gajah', 'singa', 'onta']

### JAWABAN VER 1

In [6]:
# *** Jawaban ***
# JAWABAN VER 1
dictionary={}
for i in range(len(Lst1)):
    dictionary[Lst1[i]]=hewan[i]
print('Kamus Hewan =', dictionary)

Kamus Hewan = {1: 'kucing', 2: 'belalang', 5: 'gajah', 6: 'singa', 7: 'onta'}

In [43]:
dict3 = {'Lst1': [1,2,5,6,7],
         'hewan':['kucing', 'belalang', 'gajah', 'singa', 'onta']}

for i in np.arange(5):
    print(str(dict3['Lst1'][i])+': '+str(dict3['hewan'][i]))

1: kucing
2: belalang
5: gajah
6: singa
7: onta

### JAWABAN VER 2

In [52]:
Lst1 = [1,2,5,6,7]
hewan = ['kucing', 'belalang', 'gajah', 'singa', 'onta']
dict4 = {}
for i in Lst1:
    for j in hewan:
        dict4[i]=j
        hewan.remove(j)
        break
print('kamus hewan =',dict4)

kamus hewan = {1: 'kucing', 2: 'belalang', 5: 'gajah', 6: 'singa', 7: 'onta'}

### JAWABAN VER 3

In [62]:
Lst=[1,2,3,4,5]
hewan=["ayam","kucing","sapi","bebek","kerbau"]
dictionary={}
for i in range(len(Lst)):
    dictionary[Lst[i]]=hewan[i]
print('kamus hewan =', dictionary)

kamus hewan = {1: 'ayam', 2: 'kucing', 3: 'sapi', 4: 'bebek', 5: 'kerbau'}

------------------------

# Tugas 4
Klasifikasi penilaian (sama seperti pekan lalu) tapi pakai for break dan if  (Tdk pakai else)

Buatlah sistem klasifikasi nilai ujian dengan menggunakan ``while ...`` dan juga gunakan perintah ``and``.<br>
Kriteria penilaian Ujian:<br>
- a nilai>=80
- b nilai 70 - 80
- c nilai 60 - 70
- d nilai 50 - 60
- e nilai <50

diketahu nilai ujian = ***72***

In [77]:
grade = ['E', 'D', 'C', 'B', 'A']
score = [0, 50, 60, 70, 80,100]

cur_score = 72
cur_grade = ''

for i in range(len(score)):
    if cur_score < score[i]:
        cur_grade = grade[i-1]
        break
        
print(cur_grade)

B